
@{
    ViewBag.Title = "Fundsperformance";
}

<h2>Fundsperformance</h2>

<div class="col-md-5">
    <div id="fund-perfomances">
        <div id="fund-header">
            <h2 id="fund-title">Funds Performance</h2>
        </div>
        <div id="funds-nav" class="nav">
            <ul class="nav">
                <li><a href="" id="rsa-click">RSA Fund</a></li>
                <li><a href="">Retiree Fund</a></li>
                <li><a href="">Retiree Fund</a></li>
                <li><a href="">Retiree Fund</a></li>
            </ul>
        </div>
        <div id="funds-content">
            <div id="Rsa-fund" style="display:block">
                <h2>Contributions from inception</h2>
                <h2>Total Deductions(admin fee)</h2>
                <h2>Total Withdrawal from inception</h2>
                <h2>NET Contribution</h2>
                <h2>Current Value</h2>
                <h2>Gain/Loss</h2>
            </div>
        </div>

    </div>
</div>