
@using Veritas.Models;
@{
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid">
    
        <div class="row">
            
            <div id="dash-views-header">

                <div class="dash-header">
                    <h2>Retirement Savings Account Summary</h2>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">

                    <h2 id="account-header">Account Summary</h2>

                    <div id="Acc-graph">
                        <div id="donutchart" style=" height: 300px;"></div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <h2 id="contribution-header">Contributions</h2>

                    <div id="stats-graph">
                        <div id="curve_chart" style=" height: 300px;"></div>
                    </div>
                </div>
                </div>
            </div>
                <div class="clearfix"></div>
                
              <div class="row">
                  <div class="col-sm-2">
                  </div>
                        <div id="dash-view">
                            <div class="col-md-5">
                                <div id="blog-feeds">
                                    <div id="blog-header">
                                        <h2 id="blog-title">Blog Feed</h2>
                                    </div>
                                    <div id="blog-content">
                                        <img src="~/Image/slider-image.jpg" class="img-responsive" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">

                            </div>
                            
                        </div>
                    </div>
            <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-md-5">
                            <div id="Acc-officer">
                                <div id="acc-off-title">
                                    <h2 id="acc-title">Your Account Officer</h2>
                                </div>
                                <div id="acc-content">
                                    <h2>Name :ABDUL YAKUBU</h2>
                                    <h2>Phone :9099713790</h2>
                                    <h2>Email : Adbulyakubu@veritas.com</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div id="Referral">
                                <div id="ref-title">
                                    <h2 id="ref-header">Your Referrals</h2>
                                </div>
                                <div id="ref-content">
                                    <h2 id="ref-count">0<span id="ref-text">Referrals</span></h2>
                                    <h2 id="point-count">0<span id="point-text">Points</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


