
<div class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="navbar-header my-header" onclick="openNav()">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>
            <div class="search-form">
                <input type="text" class="search-input form-control" name="title" placeholder="search" autofocus>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-link">
                <img class="img-circle img-responsive img-rounded nav-img" src="~/Image/avatar.jpg" />
            </div>
        </div>
    </div>
</div>